---
import { Image } from "astro:assets";
interface Props {
  src: ImageMetadata;
  caption?: string;
  alt?: string;
}

const { src, caption, alt } = Astro.props;
---

<div>
  <Image
    src={src}
    alt={alt ?? ""}
    densities={[1.5, 2, 2.5, 3, 3.5, 4]}
    class="shadow-md shadow-black"
  />
  {
    caption && (
      <div class="text-center text-opacity-70 text-gray-300">{caption}</div>
    )
  }
</div>
